h1,
p,
button {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;

}

main {
  gap: 20px;
}

.main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container-itens {
  border: 1px solid black;
  padding: 20px;
  border-radius: 4px;
}

.container-itens h1 {
  margin-bottom: 16px;
}

.container-itens p {
  border: 2px solid black;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
}

button {
  background: #9932cc;
  font-size: 1.25rem;
  padding: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#valores p {
  border: 2px solid black;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.titulo-historico {
  margin: 12px;
}

.history-container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 32px;
}